:root {
  --color-blue: #00a1ff;
  --color-green: #60d937;
  --color-yellow: #feae00;
  --color-red: #ed220d;
  --color-white: white;
  --color-black: #242425;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.material-icons {
  cursor: pointer;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 76px;
  padding: 20px;
  background-color: var(--color-white);
  z-index: 1;
}

header .date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  padding: 0 7vw;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
}

header .date span {
  font-size: 24px;
}

header .options {
  display: flex;
  margin: 0;
}

header .options li span {
  font-size: 20px;
}

header .options .myRegion,
header .options .option,
header .options .favorites {
  display: flex;
  align-items: center;
  height: 36px;
  margin-right: 8px;
  padding: 0 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
}

header .options .myRegion:hover,
header .options .option:hover,
header .options .favorites:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

header .options .option {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 140px;
  padding: 6px 6px 0 6px;
  overflow-y: auto;
}

header .options .option:hover {
  border-radius: 20px 20px 0 0;
  height: calc(36px * 5);
  border-radius: 20px;
}

header .options .option:hover .regions {
  display: block;
  border-radius: 0 0 20px 20px;
}

header .options .option:hover .regions .region:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

header .options .option:hover .regions .region:last-child {
  border-radius: 0 0 20px 20px;
}

header .options .option .option__title {
  display: block;
  width: 100%;
  height: 100%;
}

header .options .option .regions {
  text-align: center;
  width: 140px;
  margin-top: 6px;
  padding: 0;
  background-color: var(--color-black);
}

header .options .option .regions .region .region__text {
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px;
}

header .options .option .regions .divide-line {
  width: 120px;
  height: 1px;
  background-color: var(--color-white);
}

/* MAIN */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100% - 76px);
  margin-top: 76px;
}

.main .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  min-width: 340px;
  height: 40%;
  margin: 1.5%;
  border-radius: 20px;
  font-size: 24px;
  color: var(--color-white);
  background-color: var(--color-blue);
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: 0.3s;
}

.main .box:hover {
  transform: scale(1.1);
}

.main .box .regionAndBtn {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 8px 0;
}

.main .box .regionAndBtn .region {
  margin-left: 8px;
}

.main .box .regionAndBtn .region .district {
  font-size: 16px;
}

.main .box .regionAndBtn .favorite-btn {
  padding: 0;
}

.main .box .regionAndBtn .favorite-btn span {
  font-size: 32px;
  color: var(--color-white);
  transition: 0.3s;
}

.main .box .regionAndBtn .favorite-btn span:hover {
  color: var(--color-yellow);
}

.main .box .state {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40%;
  border-radius: 20px;
  color: var(--color-blue);
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
}

.main .box .state span {
  font-size: 36px;
  font-weight: 700;
}

.main .box .dust-value {
  margin-bottom: 20px;
}

/* POP-UP */
.pop-up-cover {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee90;
  z-index: 10;
}

.pop-up {
  position: absolute;
  top: 44%;
  left: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  max-width: 800px;
  height: calc(70vmin - 10%);
  border-radius: 40px;
  transform: translate(-50%, -40%);
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
}

.pop-up .pop-up__card {
  text-align: right;
  width: 48%;
  height: 90%;
  padding: 1vmin;
  border-radius: 20px;
  background-color: #00a1ff;
}

.pop-up .pop-up__card .fav-btn {
  width: 5vmin;
  height: 5vmin;
  padding: 0;
  color: var(--color-white);
}

.pop-up .pop-up__card .fav-btn:hover {
  color: var(--color-yellow);
}

.pop-up .pop-up__card .fav-btn span {
  font-size: 5vmin;
}

.pop-up .pop-up__card .texts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 2vmin;
  border-radius: 20px;
  background-color: var(--color-white);
}

.pop-up .pop-up__card .texts .regionAndStation {
  margin-top: 2vmin;
}

.pop-up .pop-up__card .texts .regionAndStation .station {
  font-size: 5vmin;
  font-weight: 600;
}

.pop-up .pop-up__card .texts .temp-cur {
  font-size: calc(3vmin + 4px);
}

.pop-up .pop-up__card .texts .print span {
  font-size: 16vmin;
  color: var(--color-yellow);
}

.pop-up .pop-up__card .texts .dust {
  font-size: 4vmin;
}

.pop-up .pop-up__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  width: 36%;
  height: 90%;
}

.pop-up .pop-up__info span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.pop-up .pop-up__info .temp-max-min {
  height: 6vmin;
  font-size: 3vmin;
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
}

.pop-up .pop-up__info .back {
  cursor: pointer;
  height: 5vmin;
  font-size: 3vmin;
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  transition: 0.2s;
}

.pop-up .pop-up__info .back:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

.pop-up .pop-up__info .good,
.pop-up .pop-up__info .gen,
.pop-up .pop-up__info .bad,
.pop-up .pop-up__info .very-bad {
  height: 5vmin;
  font-size: 3vmin;
  color: var(--color-white);
}

.pop-up .pop-up__info .good {
  background-color: var(--color-blue);
}

.pop-up .pop-up__info .gen {
  background-color: var(--color-green);
}

.pop-up .pop-up__info .bad {
  background-color: var(--color-yellow);
}

.pop-up .pop-up__info .very-bad {
  background-color: var(--color-red);
}

@media screen and (max-width: 773px) {
  header {
    justify-content: center;
  }

  header .date {
    display: none;
  }
}

@media screen and (max-width: 633px) {
  header .options .myRegion,
  header .options .favorites {
    display: none;
  }
}
